div.element-container.css-zvqkad.e1tzin5v3{
    font-size:small;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    border-left: 0.5rem solid #b72271 !important;
    box-shadow: 0 0.05rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
    
}
div.css-90qg9c{
    font-size:small;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    border-left: 0.5rem solid #b72271 !important;
    box-shadow: 0 0.05rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
    
}
div.css-50ug3q.e16fv1kl3{
    font-size: 22px;
}


div.css-1xtoq5p.e1fqkh3o2{
    visibility: hidden;
}

div.css-12ttj6m.epcbefy1{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 5%;
    border-radius: 10px;
    border-left: 0.5rem solid #b72271 !important;
    box-shadow: 0 0.05rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
}
