div.element-container.css-zvqkad.e1tzin5v3{
    font-size:small;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    border-left: 0.5rem solid #b72271 !important;
    box-shadow: 0 0.05rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
    
}
div.css-90qg9c{
    font-size:small;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    border-left: 0.5rem solid #b72271 !important;
    box-shadow: 0 0.05rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
    
}
div.css-50ug3q.e16fv1kl3{
    font-size: 22px;
}


div.css-1xtoq5p.e1fqkh3o2{
    visibility: hidden;
}

div.css-12ttj6m.epcbefy1{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 5%;
    border-radius: 10px;
    border-left: 0.5rem solid #b72271 !important;
    box-shadow: 0 0.05rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

/* div.css-40ynm6.e1fqkh3o8
{
    position: relative;
} */

.css-79elbk.css-pkbazv.e1fqkh3o5
{
    visibility: hidden;
}

/* .css-14sfcd1 {
    max-height: 75vh;
    list-style: none;
    overflow: overlay;
    margin: 0px;
    padding-top: 6rem;
    padding-bottom: 1rem;
} */


/* 
.e1fb0mya1.css-1pxazr7.ex0cdmw0{
    visibility: hidden;
}  */
/* .css-1helkxk {
    max-height: 75vh;
    list-style: none;
    overflow: overlay;
    margin: 0px;
    padding-top: 6rem;
    padding-bottom: 1rem;
}
.css-40ynm6{
    position: none;
}
/* .css-14sfcd1 {
    max-height: 750vh;
    overflow:visible;
} 
.css-1s3y5qe {
    max-height: 750vh;
    overflow:visible;
}  */

 div.css-j7qwjs.e1fqkh3o7
{
    visibility: visible;
}

.css-1hverof{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    

}

.css-17nby6i{
    background-color:#b72271;
    color: #FFFFFF;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;


}
.css-pkbazv.e1fqkh3o5{
    color: #FFFFFF;
    

}
.css-uc76bn{
    background-color: #FFFFFF;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0.05rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
    border-left: 0.3rem solid #b72271 !important;
    

}
.css-1helkxk{
    background-color: #FFFFFF;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0.05rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
    border-left: 0.3rem solid #b72271 !important;
    

}
/* .css-14sfcd1::before {
    content: " ";
    background-image: none;
    width: 100%;
    height: 2rem;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    pointer-events: none;
}  */

.css-14sfcd1{
    background-color: #FFFFFF;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-left: 0.3rem solid #b72271 !important;

}

.css-40ynm6{
    position: relative;
}

div.css-v7chr5.e1tzin5v0{
    position: absolute;
    
}





div.css-jtjz89{
    width: 20px;
    height: 20px;
}